section{
    width: 100vw;
    height: 100vh;
    background: #262626;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    padding: 20px;
}
section #about-resume{
    width: 543px;
    height: 328px;
    display: flex;
    flex-direction: column;
}

section #about-resume h1{
    width: 543px;
    height: 32px;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}

section #about-resume p{
    font-weight: 500;
    color: #898b8e;
    margin-top: 10px;
}


@media (max-width: 480px){
    
    section #about-resume p{
        width: 300px;
        height: 100px;
        font-size: 12px; 
    }
}

@media (min-width: 480px){
    
    section #about-resume p{
        width: 600px;
        height: 224px;
        font-size: 18px;
    } 
}


