/*Configuração Global em todos os Dispositivos*/

header {
    width: 100vw;
    height: 100vh;
    background: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header h1 {
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-icons {
    width: 128px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 30px 0;
}

.header-icons a {
    width: 64px;
    height: 64px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.header-icons a img {
    width: 32px;
    height: 32px;
    filter: invert(1);

}

.header-resume {
    width: 371px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.header-resume a {
    width: 114px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 9999px;
}

.header-resume a:hover {
    background: #404040;
}

#resume-cv {
    margin-right: 30px;
    border: 3px solid #ed6e16;
}


/*Configuração Global em Dispositivos Extra small screen*/
@media (max-width: 480px) {

    header {
        width: 480px;
    }

    header h1 {
        width: 100vw;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 36px;
        margin-bottom: 60px;
    }

    .header-resume {
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .header-resume a {
        margin-bottom: 10px;
    }

    #resume-cv {
        margin-right: 0;
    }


}


/*Configuração Global nos demais dispositivos*/
@media (min-width: 480px) {

    header h1 {
        width: 390px;
        height: 80px;
        font-size: 36px;
    }

    .header-resume {
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

}